{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link 
    rel="shortcut icon" 
    type="image/png"
    href=""
  >
  <title>Grocery Watcher</title>
  <link>
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <div class="header-logo-container">
      <a href="/">
        <img 
          src=""
          alt=""
        >
      </a>
    </div>
    <nav>
      <ul>
        {% if user.is_authenticated %}
          <li><a href="{% url 'food_index' %}">All Food items</a></li>
          <li><a href="{% url 'meals_index' %}">All Meals</a></li>
          <li><a href="{% url 'food_create' %}">Add a Food</a></li>
          <li><a href="{% url 'meals_create' %}">Add a Meal</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'logout' %}">Log out</a></li>
        {% else %}
          <li><a href="{% url 'about'%}">About</a></li>
          <li><a href="{% url 'home'%}">Login</a></li>
          <li><a href="{% url 'signup'%}">Sign up</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    {% block content%}
    {% endblock %}
  </main>
</body>
</html>